<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <!--
    The style block is collapsed on page load to save you some scrolling.
    Postmark automatically inlines all CSS properties for maximum email client
    compatibility. You can just update styles here, and Postmark does the rest.
    -->
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
    a:link { 
            text-decoration: none; 
            color: #e07122;
        }
    a:visited { 
        text-decoration: none;
        color: #e07122;
    }
    .fill {
        margin: 0 auto;
        background-color: #f2f3f8;
        font-family: 'Sailec', 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
    }

    .mobile {
        background-color: #fff;
        max-width: 520px;
        margin: 0 auto;
    }
  </style>
</head>

<body class="fill">
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8" style="padding: 12px">
        <tr>
            <td>
                <table class="mobile" width="100%" height="40px" border="0" align="center" cellpadding="0"
                    cellspacing="0">
                    <tr>
                        <td>
                            <a href="https://jiggylife.com" target="_blank" rel="noopener noreferrer">
                                <img src="https://jiggy.ams3.cdn.digitaloceanspaces.com/ImageAsset/jiggylife.png"
                                    width="auto" height="40px" style="padding: 20px" alt="Jiggylife">
                            </a>
                        </td>
                        <td width="10%">
                            <a href="https://facebook.com/jiggylife" target="_blank" rel="noopener noreferrer">
                                <img src="https://jiggy.ams3.cdn.digitaloceanspaces.com/ImageAsset/facebook.png"
                                    width="24px" height="24px" alt="Facebook">
                            </a>
                        </td>
                        <td width="10%">
                            <a href="https://twitter.com/jiggylifeHQ" target="_blank" rel="noopener noreferrer">
                                <img src="https://jiggy.ams3.cdn.digitaloceanspaces.com/ImageAsset/twitter.png"
                                    width="24px" height="24px" alt="Twitter">
                            </a>
                        </td>
                        <td width="10%">
                            <a href="https://instagram.com/jiggylifeHQ" target="_blank" rel="noopener noreferrer">
                                <img src="https://jiggy.ams3.cdn.digitaloceanspaces.com/ImageAsset/instagram.png"
                                    width="24px" height="24px" alt="Instagram">
                            </a>
                        </td>
                        <td width="10%">
                            <a href="https://tiktok.com/@jiggylifehq" target="_blank" rel="noopener noreferrer">
                                <img src="https://jiggy.ams3.cdn.digitaloceanspaces.com/ImageAsset/tiktok.png"
                                    width="24px" height="24px" alt="TikTok">
                            </a>
                        </td>
                    </tr>
                </table>
                <table class="mobile" width="100%" height="50px" border="0" align="center" cellpadding="6"
                    cellspacing="0">
                  <tr>
                        <td>
                            <hr style='height:1px; border-width:0; margin-left: 16px; margin-right: 16px; background-color: #EEECF6'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table
                                style="margin: 6px; padding: 8px; border-radius: 8px"
                                border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p style="color: #1B1C1D; font-size: 17px; padding-left: 6px; padding-right: 6px; line-height: 16pt;">
                                            <strong>You're now an influencer! 🤩🥳</strong>
                                        </p>
                                        
                                        <p style="color: #707070; font-size: 13px; padding-top: 4px; padding-left: 6px; padding-right: 6px; line-height: 16pt;">
                                             Dear Silver,
                                        </p>
                                        
                                        <p style="color: #707070; font-size: 13px; padding-top: 4px; padding-left: 6px; padding-right: 6px; line-height: 16pt;">
                                             We are thrilled to announce that you have been selected as an influencer on our platform! Congratulations on this incredible achievement!
                                        </p>
                                        
                                        
                                         <p style="color: #707070; font-size: 13px; padding-top: 4px; padding-left: 6px; padding-right: 6px; line-height: 16pt;">
                                            Your content has been impressive, and  outstanding. We believe that you have what it takes to inspire and influence others, and we are excited to have you on board as a valued member of our influencer program.</p>
                                            
                                            
                                        <p style="color: #707070; font-size: 13px; padding-top: 4px; padding-left: 6px; padding-right: 6px; line-height: 16pt;">
                                         As an influencer, you will have access to exclusive perks and opportunities to collaborate with our team and other influencers. You will also have the chance to showcase your talents and share your passion with a wider audience.
                                           </p>
                                        
                                         
                                      
                                                        <p style="color: #707070; font-size: 13px; padding-left: 6px; padding-right: 6px; line-height: 16pt;">
                We are confident that you will be an excellent representative of our brand and an inspiration to our community. We look forward to seeing the amazing things you will achieve as an influencer on our platform.</p>

   <p style="color: #707070; font-size: 13px; padding-top: 4px; padding-left: 6px; padding-right: 6px; line-height: 16pt;">
                                          Once again, congratulations on becoming an influencer on our platform! We wish you all the best in your future endeavors.
                                           </p>
                                    
                                     <p style="color: #707070; font-size: 13px; padding-top: 4px; padding-left: 6px; padding-right: 6px; line-height: 16pt;">
                                         Stay happy and stay Jiggy.


                                           </p>
                                  

        
                                        <p style="color: #707070; font-size: 13px; padding-top: 4px; padding-left: 6px; padding-right: 6px; line-height: 16pt;">
                                           Best regards, <br>The Jiggy Team 
                                           </p>
                                    


                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    
                    <tr>
                        <td>
                            <!-- footer -->
                            <table style="background-color: #FEF1E2; margin: 2px; padding: 12px;" border="0"
                                align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="1%">
                                                    <table border="0"
                                align="center" cellpadding="0" cellspacing="0">
                                                        <tr>
                                    <td width="70%">
                                        <a href="https://jiggylife.com" target="_blank" rel="noopener noreferrer">
                                            <img src="https://jiggy.ams3.cdn.digitaloceanspaces.com/ImageAsset/jiggylife.png"
                                                width="auto" height="36px" style="padding: 4px" alt="Jiggylife">
                                        </a>
                                    </td>
                                    <td width="10%">
                                        <a href="https://facebook.com/jiggylife" target="_blank"
                                            rel="noopener noreferrer">
                                            <img src="https://jiggy.ams3.cdn.digitaloceanspaces.com/ImageAsset/facebook.png"
                                                width="18px" height="18px" alt="Facebook">
                                        </a>
                                    </td>
                                    <td width="10%">
                                        <a href="https://twitter.com/jiggylifeHQ" target="_blank"
                                            rel="noopener noreferrer">
                                            <img src="https://jiggy.ams3.cdn.digitaloceanspaces.com/ImageAsset/twitter.png"
                                                width="18px" height="18px" alt="Twitter">
                                        </a>
                                    </td>
                                    <td width="10%">
                                        <a href="https://instagram.com/jiggylifeHQ" target="_blank"
                                            rel="noopener noreferrer">
                                            <img src="https://jiggy.ams3.cdn.digitaloceanspaces.com/ImageAsset/instagram.png"
                                                width="18px" height="18px" alt="Instagram">
                                        </a>
                                    </td>
                                    <td width="10%">
                                        <a href="https://tiktok.com/@jiggylifehq" target="_blank"
                                            rel="noopener noreferrer">
                                            <img src="https://jiggy.ams3.cdn.digitaloceanspaces.com/ImageAsset/tiktok.png"
                                                width="18px" height="18px" alt="TikTok">
                                        </a>
                                    </td>
                                </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                    
                                            
                                             <tr>
                                                <td>
                                                      <p style="color: #707070; font-size: 11px; padding-left: 6px; padding-right: 6px; line-height: 16pt; text-decoration: none;">
                               The entire existence of this platform is based on cruise. Don't take it serious and don't take it personal, you may lose your mind. We warned you!
                            </p>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>
                                                      <p style="color: #707070; font-size: 11px; padding-left: 6px; padding-right: 6px; line-height: 16pt; text-decoration: none;">
                               Got questions or need assistance? Feel free to reach out to our semi friendly support team at <a href="mailto:connect@jiggylife.com">connect@jiggylife.com</a>. We're here to help!
                            </p>
                                                </td>
                                            </tr>
                                            
                                            
                                            <tr>
                                                <td>
                                                     <p style="color: #707070; font-size: 12px; line-height: 16pt; margin-left: 6px; margin-right: 6px; text-align: center;">
                                &copy;2023 Jiggyliife Limited  —  All right reserved.
                            </p>
                                                </td>
                                            </tr>
                                            
                                            
                                            
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
</body>


</html>
